<!-- <div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Horizontal</strong> Form </div>
                <div class="card-body">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Favorite food" value="Sushi">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                    </form>
                   
                     
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="hf-email">Email</label>
                            <div class="col-md-9">
                                <input class="form-control" id="hf-email" name="hf-email" placeholder="Enter Email.." type="email">
                                <span class="help-block">Please enter your email</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="hf-password">Password</label>
                            <div class="col-md-9">
                                <input class="form-control" id="hf-password" name="hf-password" placeholder="Enter Password.." type="password">
                                <span class="help-block">Please enter your password</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group" [ngClass]="{'has-error': displayMessage.firstName }">
                                <mat-form-field>
                                    <input matInput id="firstName" placeholder="{{ 'LOGIN.USERNAME' | translate }}" formControlName="firstName">
                                    <mat-error *ngIf="displayMessage.firstName">
                                        {{displayMessage.firstName}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form> -->
<!--                 </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                        <i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset">
                        <i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>  -->

<div class="panel">
    <mat-toolbar>
        <span class="mat-toolbar-title">{{pageTitle}}</span>
    </mat-toolbar>

    <div class="panel-body">
        <form class="form-horizontal" novalidate (ngSubmit)="saveCustomer()" [formGroup]="createCustomerForm" enctype="multipart/form-data">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.firstName }">
                            <mat-form-field>
                                <input matInput id="firstName" placeholder="{{ 'CUSTOMER.ADD_NEW.LBL_FIRST_NAME' | translate }}" formControlName="firstName">
                                <mat-error *ngIf="displayMessage.firstName">
                                    {{displayMessage.firstName}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.lastName }">
                            <mat-form-field>
                                <input matInput id="lastName" placeholder="{{ 'CUSTOMER.ADD_NEW.LBL_LAST_NAME' | translate }}" formControlName="lastName">
                                <mat-error *ngIf="displayMessage.lastName">
                                    {{displayMessage.lastName}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.address }">
                            <mat-form-field>
                                <input matInput id="address" placeholder="{{ 'CUSTOMER.ADD_NEW.LBL_ADDRESS' | translate }}" formControlName="address">
                                <mat-error *ngIf="displayMessage.address">
                                    {{displayMessage.address}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [ngClass]="{'has-error': displayMessage.tp }">
                            <mat-form-field>
                                <input matInput id="tel" placeholder="{{ 'CUSTOMER.ADD_NEW.LBL_TP' | translate }}" formControlName="tel">
                                <mat-error *ngIf="displayMessage.tp">
                                    {{displayMessage.tp}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button mat-raised-button type="submit" [disabled]='!createCustomerForm.valid' color="primary"> {{ 'CUSTOMER.ADD_NEW.BTN_SAVE' | translate }}</button>
                    <button mat-raised-button type="button" (click)="cancelClick()"> {{ 'CUSTOMER.ADD_NEW.BTN_CANCEL' | translate }}</button>
                </div>
            </fieldset>
        </form>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>
</div>